@use 'mixins';
@use 'colors';

@mixin formatting {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    
    body, h1, h2, h3, p {
        margin-block-end: 0;
        margin-block-start: 0;
    }
    
    h1, h2, h3 {
        line-height: 1.1;
    }

    ul{
        list-style: none;
    }
    
    img {
        max-width: 100%;
        display: block;
      }
    
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    body {
        @include mixins.centerGrid;
        grid-template-rows: 1fr auto;
        height: 100vh;
        padding: 1rem;
        margin: 0;
        background-color: colors.$veryDarkBlue;
    }
}
