@use 'styleFormatting';
@use 'fonts';
@use 'colors';
@use 'mixins';

@include styleFormatting.formatting;

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Lexed Deca', sans-serif;
  }

.stats-card {
    display: grid;
    gap: 1.2em;
    width: 85vw;
    max-width: 30rem;
    border-radius: 5px;
    margin: 4.5rem 0;
    background-color: colors.$darkDesaturatedBlue;

    &__image {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
        border-radius: 5px 5px 0 0;
        background: {
            image: url('./../images/image-header-mobile.jpg');
            position: top center;
            repeat: no-repeat;
            size: cover;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            border-radius: inherit;
            mix-blend-mode: multiply;
            background-color: hsl(277, 64%, 61%);
          }
    }

    &__content {
        padding: 1.8em;
        text-align: center;
    }

    &-title {
        @include mixins.text-styles(var(--font-primary), clamp(1.6rem, 1.317rem + 1.416vw, 2.4rem), 700, colors.$white, .015em);
        padding: 0 .3em .8em;
    }

    &__highlight {
        color: colors.$softViolet;
    }

    &__description {
        @include mixins.text-styles(var(--font-secondary), clamp(0.85rem, 0.797rem + 0.265vw, 1rem), 400, colors.$slightlyTransparentWhite, .01em, 1.5);
    }

    &__list {
        @include mixins.centerGrid;
        color: colors.$white;
        gap: 1.5em;
        padding: 1.5em 0 0;
        width: 100%;
    }

    &__number {
        @include mixins.text-styles(var(--font-primary), clamp(1.3rem, 1.229rem + 0.354vw, 1.5rem), 700, null);
    }

    &__label {
        @include mixins.text-styles(var(--font-secondary), .7rem, 400, colors.$transparentWhite, .1em);
        text-transform: uppercase;
        padding-top: .3em;
    }
}

footer {
    font-size: .7rem;
    color: colors.$slightlyTransparentWhite;
    padding-bottom: 1rem;
    a { 
        text-align: center;
        color: colors.$softViolet
    }
}

@media (min-width: 1024px) {
    .stats-card {
    grid-template-columns: repeat(9, 1fr);
    max-width: 65rem;
    gap: 0;

    &__image {
        background-image: url('./../images/image-header-desktop.jpg');
        background-size: cover;
        height: 100%;
        border-radius: 0 5px 5px 0;
        grid-column: 6 / 10;
        grid-row: 1;
        z-index: 10;
      }

      &__content {
        grid-column: 1 / 5;
        padding: 4em 0 2.5em 3em;
        text-align: left;
      }

      &__list {
        grid-template-columns: repeat(3, 1fr);
        place-items: start;
        padding-top: 3em;
      }
    }
}